@import url('https://fonts.cdnfonts.com/css/bebas-neue');
@import url('https://fonts.cdnfonts.com/css/asap-condensed');

.containerInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.labelDefault {
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: bold;
}

.inputDefault {
  background-color: #D9D9D9;
  border-radius: 5px;
  font-family: 'Asap Condensed', sans-serif;
  color: black;
}

.inputDefault::placeholder {
  color: #696565;
}