@import url('https://fonts.cdnfonts.com/css/bebas-neue');

.buttonDefault {
    background-color: rgba(209, 166, 80, 1);
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
}
.buttonDefault:hover {
    background-color: #715D36;
}