@import url('https://fonts.cdnfonts.com/css/bebas-neue');
@import url('https://fonts.cdnfonts.com/css/asap-condensed');

.login {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: black;
  border-color: #FFFFFF;
  border-style: solid;
  border-radius: 5px;
  padding: 20px;
  align-items: center;
}

.title {
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  margin: 0;
}

.line {
  background-color: white;
  height: 1px;
  margin-bottom: 30px;
  margin-top: -5px;
  width: -webkit-fill-available;
}

.labels {
  size: 3em;
  font-size: 4dvh;
  margin-bottom: 5px
}

.inputs {
  width: 28em;
  height: 2em;
  font-size: 1em;
  padding: 5px;
}

.password {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.passwd {
  border-radius: 5px 0px 0px 5px !important;
  margin-right: 0px;
  width: 25em !important;
  border: transparent;
}

.togglePassword {
  width: 49px;
  height: 2.6em;
  cursor: pointer;
  display: flex;
  background: #D9D9D9;
  align-self: flex-end;
  border-radius: 0px 5px 5px 0px;
  margin: 0px;
}

.buttonEnter {
  font-size: 3em;
  width: 180px;
  margin-top: 10px;
}

.gif {
  width: 25em;
  height: 25em;
  margin: 20px;
}

.labelErrorLogin {
  color: red;
  font-family: 'Asap Condensed', sans-serif;
  font-size: 1.4em;
}