@import url('https://fonts.cdnfonts.com/css/bebas-neue');
@import url('https://fonts.cdnfonts.com/css/asap-condensed');

.login {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

.form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: black;
  border-color: #FFFFFF;
  border-style: solid;
  border-radius: 5px;
  padding: 15px;
}

.containerInput{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
  
.labels{
    color: white;
    size: 3em;
    font-size: 4dvh;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
  }

.inputs{
    width: 28em;
    height: 2em;
    font-size: 2dvh;
    font-family: 'Asap Condensed', sans-serif;
  }

.inputs::placeholder{
    color: #696565;
  }