.login {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

.form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: black;
  border-color: #FFFFFF;
  border-style: solid;
  border-radius: 5px;
  padding: 15px;
}
  
.labels{
    size: 3em;
    font-size: 4dvh;
  }

.inputs{
    width: 28em;
    height: 2em;
    font-size: 2dvh;
  }

.buttonEnter{
  font-size: 6dvh;
}