@import url('https://fonts.cdnfonts.com/css/bebas-neue');
@import url('https://fonts.cdnfonts.com/css/asap-condensed');

.containerUsers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 90%;
}

.headerContainerUsers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
}

.titleUsers {
  font-family: 'Bebas Neue';
  font-weight: bolder;
  font-size: 3.5em;
  margin: 0px;
}

.buttonUsers {
  font-size: 1.4em;
  padding: 10px;
}

.textFilterUsers {
  font-family: 'Bebas Neue', sans-serif;
  color: #ffffff;
  width: 10em;
  font-weight: bold;
  text-align: initial;
}

.add {
  width: 54px;
  height: 54px;
  cursor: pointer;
}

.add:hover {
  filter: drop-shadow(0 0 .5em #ffffff);
  transform: scale(1.3);
}

.users-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  height: 90%;
}

.textHeader {
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  font-size: 2em;
  margin-bottom: 15px;
}

.users {
  width: 65em;
  height: 34em;
  background-color: black;
  padding: 20px;
  overflow: scroll;
}

.users-table {
  color: white;
  width: 100%;
  border-collapse: collapse;
  font-family: 'Asap Condensed', sans-serif;
  background-color: black;
}

.users-table th,
.users-table td {
  padding: 15px;
  text-align: left;
}

.users-table th {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  border-bottom: 2px solid white;
}

.users-table td {
  font-size: 1.2em;
}

.buttTable {
  text-align: center !important;
}

.buttonMenu {
  margin: 15px;
  font-size: 2em;
}

.userModalText {
  font-family: 'Asap Condensed', sans-serif;
  font-size: larger;
  font-style: oblique;
}

.containerTextDeleteModal {
  display: flex;
  gap: 10px;
  flex-direction: row;
}

.textLabelsModalDeleteUsers {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: bold;
  font-size: 1.4em;
}

.infoUserModal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.boxSelectUsers {
  background-color: #D9D9D9;
  color: black;
  padding: 1%;
  font-size: large;
  border-radius: 5px;
  font-family: 'Asap Condensed', sans-serif;
  width: 13em;
  margin-left: 10px;
  height: 2em;
}

.selectRolModal {
  margin-top: 10px;
}

div .footer-buttons {
  display: flex;
  width: 90%;
  align-self: center;
  justify-content:space-between;
}