@import url('https://fonts.cdnfonts.com/css/bebas-neue');
@import url('https://fonts.cdnfonts.com/css/asap-condensed');

.containerOrders {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 95%;
}

.navOrders {
  display: flex;
  width: webkit-device-width;
}

.filterOrders {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: max-content;
}

.textFilterOrders {
  font-family: 'Bebas Neue', sans-serif;
  color: #ffffff;
  width: 11em;
  font-weight: bold;
}

.checkboxesContainer {
  display: flex;
  gap: 25px;
}

.optionsFilterOrders {
  font-family: 'Asap Condensed', sans-serif;
  color: #ffffff;
  font-size: 1.3em;
  font-weight: normal;
  display: flex;
  gap: 5px;
}

input[type='checkbox'] {
  width: 15px;
}

input[type='checkbox']:checked {
  background-color: rgba(209, 166, 80, 1);
  width: 25px;
}


.buttonMenu {
  margin: 15px;
  font-size: 2em;
}

.orders {
  background-color: black;
  padding: 20px;
  height: 80%;
  overflow-y: scroll;
}

.orders-table {
  color: white;
  width: 100%;
  border-collapse: collapse;
}

.orders-table th,
.orders-table td {
  padding: 15px;
  text-align: left;
}

.tableHeader {
  border-bottom: 2px solid white;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: bold;
  font-size: 1.4em;
}

.orders-table td {
  font-family: 'Asap Condensed', sans-serif;
  font-size: 1.1em;
}

.edit,
.delete,
.check {
  width: 25px;
}

.buttonsTable {
  text-align: center !important;
}

.buttonsTable img {
  cursor: pointer;
}

.buttonsTable img:hover {
  filter: drop-shadow(0 0 .5em #ffffff);
  transform: scale(1.3);
}

.yellow {
  color: yellow;
}

.green {
  color: rgb(76, 241, 76);
}

.modalDelete {
  text-align: center !important;
  width: 0px;
  padding: 0px !important;
}

.textModal {
  font-family: 'Bebas Neue', sans-serif;
  font-size: xx-large;
  margin-top: 15px;
}

.infoOrderModal {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 15px;
  font-size: 1.1em;
  padding: 0px 0px 15px 0px;
}

.inputModalEdit {
  font-size: 1em;
  padding-left: 3%;
}

.labelsModalEdit {
  font-size: 1.2em;
}

.buttonsModal {
  margin: 15px;
  font-size: 1.8em;
}

.infoClientModal {
  display: flex;
  margin: 5px;
  width: 100%;
  justify-content: flex-start;
  gap: 20px;
}

.bebas {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: bold;
  text-align: start;
  margin-left: 5px;
  font-size: 1.2em;
}

.selectPeoductModal {
  display: flex;
  flex-direction: column;
}

.productOrdersModal {
  display: flex;
  margin-left: 0px;
  width: 103%;
  gap: 8px;
  font-family: 'Asap Condensed', sans-serif;
  align-items: center;
}

.productPriceModal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.cantidadModal {
  width: 30px;
  text-align: center;
}

.lineModal {
  background-color: white;
  height: 1px;
  margin-top: -5px;
  width: 105%;
}

.totalOrderModal {
  display: flex;
  justify-content: space-between;
  width: 103%;
}

.selectStatusModal {
  display: flex;
  width: 100%;
  gap: 10px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: bold;
}

.boxSelect {
  background-color: #D9D9D9;
  color: black;
  padding: 1%;
  font-size: large;
  border-radius: 5px;
  font-family: 'Asap Condensed', sans-serif;
}

.boxSelect option {
  background-color: #D9D9D9;
  color: black;
  padding: 1%;
  font-size: .8em;
  border-radius: 5px;
  font-family: 'Asap Condensed', sans-serif;
}

.deleteModal {
  width: 18px;
  cursor: pointer;
}

.deleteModal:hover {
  filter: drop-shadow(0 0 .5em #ffffff);
  transform: scale(1.3);
}