.container{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

.buttonMenu {
  margin: 15px;
}

.orders{
  background-color: black;
}

.orders-table{
  color: white;
}

.out{
  width: 35px;
  margin: 10px;
}