 .home{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .logo {
      width: 25em;
      height: 25em;
      margin: 20px;
    }
    .logo:hover {
      filter: drop-shadow(0 0 1em #ffffffaa);
    }