.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(136, 136, 136, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #000000;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  color: white;
  width: max-content;
  max-height: 80%;
  overflow-x: scroll;
}

.close-btn {
  position: absolute;
  top: 0px;
  right: 8px;
  cursor: pointer;
  font-size: 30px;
}

.close-btn:hover {
  filter: drop-shadow(0 0 .5em #ffffff);
  transform: scale(1.3);
}

.contentModal {
  display: grid;
  justify-content: center;
  justify-items: center;
  width: max-content;
}