@import url('https://fonts.cdnfonts.com/css/asap-condensed');

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;

}

*::-webkit-scrollbar-thumb {
  background: rgba(209, 166, 80, 1);
  border-radius: 5px;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-image: url('../../../assets/Images/fondo.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100%;
  display: flex;
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: rgba(217, 217, 217, 0.795);
  text-align: center;
  height: 30px;
  padding: 0px;
}

footer p {
  font-size: smaller;
  margin: 8px;
  font-family: 'Asap Condensed', sans-serif;
  color: black;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 25em;
  height: 25em;
  margin: 20px;
}

.logo:hover {
  filter: drop-shadow(0 0 1em #ffffffaa);
}

.enter {
  width: 6em;
  font-size: 3em;
}