@import url('https://fonts.cdnfonts.com/css/bebas-neue');
@import url('https://fonts.cdnfonts.com/css/asap-condensed');

.containerProducts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.headerContainerProducts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
}

.titleProducts {
  font-family: 'Bebas Neue';
  font-weight: bolder;
  font-size: 3.5em;
  margin: 0px;
}

.buttonProducts {
  font-size: 1.4em;
  padding: 10px;
}

.add {
  width: 54px;
  height: 54px;
}

.products-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  height: 90%;
}

.textHeader {
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  font-size: 2em;
  margin-bottom: 15px;
}

.products {
  width: 65em;
  height: 34em;
  background-color: black;
  padding: 20px;
  overflow: scroll;
}

.products-table {
  color: white;
  width: 100%;
  border-collapse: collapse;
  font-family: 'Asap Condensed', sans-serif;
  background-color: black;
}

.products-table th,
.products-table td {
  padding: 15px;
  text-align: left;
}

.products-table th {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  border-bottom: 2px solid white;
}

.products-table td {
  font-size: 1.2em;
}

.imgProducts {
  max-width: 30px;
  max-height: 35px;
}

.buttTable {
  text-align: center !important;
}

.buttonMenu {
  margin: 15px;
  font-size: 2em;
}

.userModalText {
  font-family: 'Asap Condensed', sans-serif;
  font-size: larger;
  font-style: oblique;
}

.containerTextDeleteModal {
  display: flex;
  gap: 10px;
  flex-direction: row;
}

.textLabelsModalDeleteProducts {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: bold;
  font-size: 1.4em;
}

.infoProductModal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.inputImgProducts {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 16em;
  justify-content: space-between;
}

.imgProductsModal {
  max-width: 60px;
  max-height: 60px;
}

.labelErrorAdmin {
  color: red;
  font-family: 'Asap Condensed', sans-serif;
  font-size: 1.3em;
}

.inputModalEditProducts {
  font-size: 1em;
  padding-left: 3%;
  width: 16em;
  height: 2em;
}

.inputModalEditProductsImg {
  font-size: 1em;
  padding-left: 3%;
  width: 11.5em;
  margin-right: 5px;
  height: 2em;
}

.boxSelectProduct {
  background-color: #D9D9D9;
  color: black;
  padding: 1%;
  font-size: large;
  border-radius: 5px;
  font-family: 'Asap Condensed', sans-serif;
  width: 14em;
  margin-left: 10px;
  height: 2em;
}